html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: relative;
}

body {
  font-family: monospace;
  font-size: 1.5vw;
  margin: 0;
}

image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}